@import 'media-queries';

.container--general {
    @include mobile-layout {
        max-width: $mq-mobile;
    }

    @include mobile-landscape {
        max-width: $mq-tablet - 1;
    }

    @include tablet-layout {
        max-width: $mq-desktop - 1;
    }

    @include desktop-layout {
        min-width: $mq-desktop;
    }
}

.navbar {
    .navbar__items {

        @include mobile-layout {
            display: none;
            flex-direction: column;
        }

        @include mobile-landscape {
            display: none;
            flex-direction: column;
        }

        @include tablet-layout {
            display: none;
            flex-direction: column;
        }
    }

    .navbar__toggle {
        @include mobile-layout {
            display: block;

            .fa-bars {
                display: block;
                line-height: 50px;
                transition: display 1s;
            }

            .fa-times {
                display: none;
                line-height: 50px;
                transition: display 1s;
            }
        }

        @include mobile-landscape {
            display: block;

            .fa-bars {
                display: block;
                line-height: 50px;
                transition: display 1s;
            }

            .fa-times {
                display: none;
                line-height: 50px;
                transition: display 1s;
            }
        }

        @include tablet-layout {
            display: block;

            .fa-bars {
                display: block;
                line-height: 50px;
                transition: display 1s;
            }

            .fa-times {
                display: none;
                line-height: 50px;
                transition: display 1s;
            }
        }
    }
}