/* General Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* CSS Grid */
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 12 col layout like bootstrap */
  grid-template-rows: minmax(35px, auto);
}

/* Container */
.container--general {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.topbar {
  grid-column: span 12;
  height: 25px;
  line-height: 25px;
  background-color: #ddd;
}

.navbar {
  position: fixed;
  display: flex;
  top: 25px;
  width: 100vw;
  grid-column: span 12;
  padding: 0 1rem;
  height: 50px;
  line-height: 50px;
  background-color: #222;
  color: #fff;
}
.navbar a {
  color: #fff;
}
.navbar .navbar__brand img {
  max-height: 50px;
  padding: 5px;
  margin-right: 5px;
}
.navbar .navbar__items {
  display: flex;
  margin-left: auto;
}
.navbar .navbar__items li {
  margin-left: 2rem;
  font-weight: 300;
}
.navbar .navbar__toggle {
  display: none;
  margin-left: auto;
  cursor: pointer;
  line-height: 50px;
}
.navbar .sidenav--close {
  display: none;
  right: 0;
}
.navbar .sidenav--open {
  display: flex;
  right: 0;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 75px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 40px;
  text-align: center;
  transition: 1s;
}
.navbar .sidenav__items {
  margin: 0 auto;
  font-weight: 300;
  opacity: 0;
  transition: 0.5s;
}

/* Breakpoints allways at last for correct responsivity */
@media only screen and (max-width: 480px) {
  .container--general {
    max-width: 480px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container--general {
    max-width: 767px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container--general {
    max-width: 1023px;
  }
}
@media only screen and (min-width: 1024px) {
  .container--general {
    min-width: 1024px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .navbar__items {
    display: none;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .navbar .navbar__toggle {
    display: block;
  }
  .navbar .navbar__toggle .fa-bars {
    opacity: 1;
    display: block;
    line-height: 50px;
    transition: 1s;
  }
  .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 50px;
    transition: 1s;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navbar .navbar__toggle {
    display: block;
  }
  .navbar .navbar__toggle .fa-bars {
    opacity: 1;
    display: block;
    line-height: 50px;
    transition: 1s;
  }
  .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 50px;
    transition: 1s;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .navbar__toggle {
    display: block;
  }
  .navbar .navbar__toggle .fa-bars {
    opacity: 1;
    display: block;
    line-height: 50px;
    transition: 1s;
  }
  .navbar .navbar__toggle .fa-times {
    opacity: 0;
    display: none;
    line-height: 50px;
    transition: 1s;
  }
}

/*# sourceMappingURL=style.css.map */
